{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <title>{% block head_title %}CFI{% endblock %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- <link href="{% static 'css/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" /> -->
        <link href="{% static 'css/components-rounded.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/layout.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/darkblue.min.css' %}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{% static 'css/custom.min.css' %}" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="favicon.ico" /> 
        {% block csshead %}{% endblock %}
    </head>
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        {% include "header.html" %}
        <div class="page-container">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <li class="sidebar-toggler-wrapper hide">
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                            <!-- END SIDEBAR TOGGLER BUTTON -->
                        </li>
                        <li class="sidebar-search-wrapper">
                            <form class="sidebar-search  sidebar-search-bordered" action="page_general_search_3.html" method="POST">
                                <a href="javascript:;" class="remove">
                                    <i class="icon-close"></i>
                                </a>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <a href="javascript:;" class="btn submit">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </span>
                                </div>
                            </form>
                            <!-- END RESPONSIVE QUICK SEARCH FORM -->
                        </li>
                        <li class="nav-item start ">
                            <a href="#" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">Escritorio</span>
                                <span class="arrow"></span>
                            </a>
                        </li>
                        <li class="heading">
                            <h3 class="uppercase">CONSULTORIO</h3>
                        </li>
                        <li class="nav-item {% block citas %}{% endblock %}">
                            <a href="{% url 'citas:list' %}" class="nav-link nav-toggle">
                                <i class="icon-user"></i>
                                <span class="title">Citas</span>
                                <span class="arrow"></span>
                            </a>
                        </li>
                        <li class="nav-item {% block pacientes %}{% endblock %}">
                            <a href="{% url 'pacientes:list' %}" class="nav-link nav-toggle">
                                <i class="icon-user"></i>
                                <span class="title">Pacientes</span>
                                <span class="arrow"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-content-wrapper">
                <div class="page-content">
                    {% block content %}
                    {% endblock %}
                    <!-- END CONTENT -->
                </div>
            </div>
        </div>
        {% include "footer.html" %}
        {% block javascript %}{% endblock %}
    </body>
</html>