{% extends 'base.html' %}
{% load staticfiles %}
{% block dashboard %}active{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="{{patients_count}}">0</span>
                </div>
                <div class="desc"> Pacientes </div>
            </div>
            <a class="more" href="{% url 'pacientes:list' %}"> Ver mas
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="{{records_count}}">0</span></div>
                <div class="desc"> Historias Medicas Registradas </div>
            </div>
            <a class="more" href="javascript:;"> Ver mas
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="{{citas_count}}">0</span>
                </div>
                <div class="desc"> Citas Registradas </div>
            </div>
            <a class="more" href="{% url 'citas:list' %}"> Ver mas
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-share font-blue"></i>
                <span class="caption-subject font-blue bold uppercase">Actividades Recientes</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                <ul class="feeds">
                    <li>
                        <div class="col1">
                            <div class="cont">
                                <div class="cont-col1">
                                    <div class="label label-sm label-info">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </div>
                                <div class="cont-col2">
                                    <div class="desc"> You have 4 pending tasks.
                                        <span class="label label-sm label-warning "> Take action
                                            <i class="fa fa-share"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="date"> Just now </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-success">
                                            <i class="fa fa-bar-chart-o"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc"> Finance Report for year 2013 has been released. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 20 mins </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="col1">
                            <div class="cont">
                                <div class="cont-col1">
                                    <div class="label label-sm label-danger">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="cont-col2">
                                    <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="date"> 24 mins </div>
                        </div>
                    </li>
                    <li>
                        <div class="col1">
                            <div class="cont">
                                <div class="cont-col1">
                                    <div class="label label-sm label-info">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                </div>
                                <div class="cont-col2">
                                    <div class="desc"> New order received with
                                        <span class="label label-sm label-success"> Reference Number: DR23923 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="date"> 30 mins </div>
                        </div>
                    </li>
                    <li>
                        <div class="col1">
                            <div class="cont">
                                <div class="cont-col1">
                                    <div class="label label-sm label-success">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="cont-col2">
                                    <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="date"> 24 mins </div>
                        </div>
                    </li>
                    <li>
                        <div class="col1">
                            <div class="cont">
                                <div class="cont-col1">
                                    <div class="label label-sm label-default">
                                        <i class="fa fa-bell-o"></i>
                                    </div>
                                </div>
                                <div class="cont-col2">
                                    <div class="desc"> Web server hardware needs to be upgraded.
                                        <span class="label label-sm label-default "> Overdue </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="date"> 2 hours </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-default">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc"> IPO Report for year 2013 has been released. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 20 mins </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="col1">
                            <div class="cont">
                                <div class="cont-col1">
                                    <div class="label label-sm label-info">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </div>
                                <div class="cont-col2">
                                    <div class="desc"> You have 4 pending tasks.
                                        <span class="label label-sm label-warning "> Take action
                                            <i class="fa fa-share"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="date"> Just now </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-danger">
                                            <i class="fa fa-bar-chart-o"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc"> Finance Report for year 2013 has been released. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 20 mins </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="col1">
                            <div class="cont">
                                <div class="cont-col1">
                                    <div class="label label-sm label-default">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="cont-col2">
                                    <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="date"> 24 mins </div>
                        </div>
                    </li>
                    <li>
                        <div class="col1">
                            <div class="cont">
                                <div class="cont-col1">
                                    <div class="label label-sm label-info">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                </div>
                                <div class="cont-col2">
                                    <div class="desc"> New order received with
                                        <span class="label label-sm label-success"> Reference Number: DR23923 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="date"> 30 mins </div>
                        </div>
                    </li>
                    <li>
                        <div class="col1">
                            <div class="cont">
                                <div class="cont-col1">
                                    <div class="label label-sm label-success">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="cont-col2">
                                    <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="date"> 24 mins </div>
                        </div>
                    </li>
                    <li>
                        <div class="col1">
                            <div class="cont">
                                <div class="cont-col1">
                                    <div class="label label-sm label-warning">
                                        <i class="fa fa-bell-o"></i>
                                    </div>
                                </div>
                                <div class="cont-col2">
                                    <div class="desc"> Web server hardware needs to be upgraded.
                                        <span class="label label-sm label-default "> Overdue </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="date"> 2 hours </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-info">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc"> IPO Report for year 2013 has been released. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 20 mins </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="scroller-footer">
                <div class="btn-arrow-link pull-right">
                    <a href="javascript:;">See All Records</a>
                    <i class="icon-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bar-chart font-blue"></i>
                <span class="caption-subject font-blue bold uppercase">Resumen de Doctores</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row number-stats margin-bottom-30">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="stat-left">
                        <div class="stat-chart">
                            <div id="sparkline_bar"></div>
                        </div>
                        <div class="stat-number">
                            <div class="title"> Total Pacientes </div>
                            <div class="number"> {{patients_count}} </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="stat-right">
                        <div class="stat-chart">
                            <div id="sparkline_bar2"></div>
                        </div>
                        <div class="stat-number">
                            <div class="title"> New </div>
                            <div class="number"> 719 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light">
                    <thead>
                        <tr class="uppercase">
                            <th colspan="2"> AGENTE </th>
                            <th> GANANCIAS </th>
                            <th> PROPIEDADES </th>
                            <th> CLIENTES </th>
                            <th> RATE </th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="fit">
                            <img class="user-pic rounded" src="../assets/pages/media/users/avatar4.jpg"> </td>
                        <td>
                            <a href="javascript:;" class="primary-link">Raul</a>
                        </td>
                        <td> $345 </td>
                        <td> 45 </td>
                        <td> 124 </td>
                        <td>
                            <span class="bold theme-font">80%</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="fit">
                            <img class="user-pic rounded" src="../assets/pages/media/users/avatar5.jpg"> </td>
                        <td>
                            <a href="javascript:;" class="primary-link">Viejo</a>
                        </td>
                        <td> $560 </td>
                        <td> 12 </td>
                        <td> 24 </td>
                        <td>
                            <span class="bold theme-font">67%</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="scroller-footer">
                <div class="btn-arrow-link pull-right">
                    <a href="#">Ver todos los pacientes</a>
                    <i class="icon-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/plugins/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/plugins/counterup/jquery.waypoints.min.js' %}" type="text/javascript"></script>
{% endblock %}