{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}
{% if instance.full_name %}{{instance.full_name}}{% else %}Nuevo Paciente{% endif %} | {{ block.super }}
{% endblock %}

{% block csshead %}
<link href="{% static 'css/perfil.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Información Principal</div>
    </div>
    <div class="portlet-body form" style="display: block;">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Nombre Completo</label>
                    <div class="col-md-4">
                        {{form.full_name}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Cédula</label>
                    <div class="col-md-4">
                        {{form.id_card_number}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Sexo</label>
                    <div class="col-md-4">
                        {{form.sex}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Edad</label>
                    <div class="col-md-4">
                        {{form.age}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Fecha de Nacimiento</label>
                    <div class="col-md-4">
                        {{form.birthdate}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Referido Por</label>
                    <div class="col-md-4">
                        {{form.refered_by}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Seguro Médico</label>
                    <div class="col-md-4">
                        {{form.insurancecompany}}
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Información de Contacto</div>
    </div>
    <div class="portlet-body form" style="display: block;">
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Dirección</label>
                    <div class="col-md-4">
                        {{form.address}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Teléfono</label>
                    <div class="col-md-4">
                        {{form.phone}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Teléfono 2</label>
                    <div class="col-md-4">
                        {{form.other_phone}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Celular</label>
                    <div class="col-md-4">
                        {{form.cellphone}}
                    </div>
                </div>
            </div>
            <!-- FORM END -->
    </div>
</div>
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Información Laboral</div>
    </div>
    <div class="portlet-body form" style="display: block;">
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Ocupación</label>
                    <div class="col-md-4">
                        {{form.occupation}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Lugar de Trabajo</label>
                    <div class="col-md-4">
                        {{form.placeofwork}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Posición</label>
                    <div class="col-md-4">
                        {{form.position}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Teléfono del Trabajo</label>
                    <div class="col-md-4">
                        {{form.work_phone}}
                    </div>
                </div>
            </div>
            <!-- FORM END -->
    </div>
</div>
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Contacto de Emergencia</div>
    </div>
    <div class="portlet-body form" style="display: block;">
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">En caso de emergencia contactar a</label>
                    <div class="col-md-4">
                        {{form.in_case_of_emergency_contact}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Teléfono</label>
                    <div class="col-md-4">
                        {{form.emergency_contact_phone}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Celular</label>
                    <div class="col-md-4">
                        {{form.emergency_contact_cellphone}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Otro numero</label>
                    <div class="col-md-4">
                        {{form.emergency_contact_othernum}}
                    </div>
                </div>
            </div>
            <!-- FORM END -->
    </div>
</div> 
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Historia Medica</div>
    </div>
    <div class="portlet-body form" style="display: block;">
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Doctor</label>
                    <div class="col-md-4">
                        {{form.doctor}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Antecedentes Personales</label>
                    <div class="col-md-4">
                        {{form.antecedentes_personales}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Antecedentes Familiares</label>
                    <div class="col-md-4">
                        {{form.antecedentes_familiares}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Historia Enfermedad Actual</label>
                    <div class="col-md-4">
                        {{form.enfermedad_actual}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Signos y Sintomas</label>
                    <div class="col-md-4">
                        {{form.signos_sintomas}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Diagnóstico de Rehabilitación</label>
                    <div class="col-md-4">
                        {{form.rehab_diagnosis}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Protocolo o Plan de Tratamiento</label>
                    <div class="col-md-4">
                        {{form.protocol_treatment}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Formulario llenado por</label>
                    <div class="col-md-4">
                        {{form.form_filled_by}}
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-circle green">Registrar</button>
                        <a href="{% url 'pacientes:list' %}" class="btn btn-circle grey-salsa btn-outline">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> 
{% endblock %}