{% extends "base.html" %}
{% load staticfiles %}
{% load sniplates %}
{% block head_title %}
{{ instance.name }} | {{ block.super }}
{% endblock %}

{% block csshead %}
<link href="{% static 'css/perfil.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
{% load_widgets listview="widgets/list_view.html" %}
<div class="profile">
    <div class="tabbable-line tabbable-full-width">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#info-general" data-toggle="tab"> Información General </a>
            </li>
            <li>
                <a href="#historia_clinica" data-toggle="tab"> Historia Clinica </a>
            </li>
            <li>
                <a href="#record_citas" data-toggle="tab"> Record de Citas </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="info-general">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled profile-nav">
                            <li>
                                {% if instance.featured_image %}
                                <img src="{{instance.featured_image.url}}" class="img-responsive pic-bordered" alt="" />
                                {% else %}
                                {% endif %}
                                <a href="javascript:;" class="profile-edit"> edit </a>
                            </li>
                            <li><a data-toggle="modal" href="#new_comment"> Nueva Cita <span> 
                            <i class="fa fa-plus"></i> </span></a></li>
                            <li><a data-toggle="tab" href="#record_citas"> Ver todas las citas <span style="background-color: #F1C40F;"><i class="fa fa-calendar-check-o"></i> </span></a></li>
                            <li><a href="{% url 'pacientes:edit' id=instance.id %}"> Editar Paciente <span style="background-color: #68e268;"> 
                            <i class="fa fa-pencil"></i> </span></a></li>
                            <li><a data-toggle="modal" href="#delete"> Eliminar Paciente  <span style="background-color: #f95d5d;"> 
                            <i class="fa fa-times"></i> </span></a></li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12 profile-info">
                                <div class="portlet sale-summary">
                                    <div class="portlet-body">
                                        <ul class="list-unstyled">
                                            <li><h3>Datos Principales</h3></li>
                                            <li>
                                                <span class="sale-info"> Nombre Completo</i></span>
                                                <span class="sale-num"> {{instance.full_name}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Cedula</i></span>
                                                <span class="sale-num"> {{instance.id_card_number}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Sexo / Edad</i></span>
                                                <span class="sale-num"> {{instance.sex}} / {{instance.age}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Fecha de Nacimiento </span>
                                                <span class="sale-num"> {{instance.birthdate}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Seguro Medico </span>
                                                <span class="sale-num"> {{instance.insurancecompany}} </span>
                                            </li>
                                            <li><h3>Informacion de Contacto</h3></li>
                                            <li>
                                                <span class="sale-info"> Direccion </span>
                                                <span class="sale-num"> {{instance.address}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Telefono </span>
                                                <span class="sale-num"> {{instance.phone}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Telefono 2 </span>
                                                <span class="sale-num"> {{instance.other_phone}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Celular </span>
                                                <span class="sale-num"> {{instance.cellphone}} </span>
                                            </li>
                                            <li><h3>Informacion Laboral</h3></li>
                                            <li>
                                                <span class="sale-info"> Ocupacion </span>
                                                <span class="sale-num"> {{instance.occupation}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Lugar de Trabajo </span>
                                                <span class="sale-num"> {{instance.placeofwork}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Posicion </span>
                                                <span class="sale-num"> {{instance.position}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Telefono de Trabajo </span>
                                                <span class="sale-num"> {{instance.work_phone}} </span>
                                            </li>
                                            <li><h3>Contacto de Emergencia</h3></li>
                                            <li>
                                                <span class="sale-info"> Contacto de Emergencia </span>
                                                <span class="sale-num"> {{instance.in_case_of_emergency_contact}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Telefono </span>
                                                <span class="sale-num"> {{instance.emergency_contact_phone}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Celular </span>
                                                <span class="sale-num"> {{instance.emergency_contact_cellphone}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Otro Telefono </span>
                                                <span class="sale-num"> {{instance.emergency_contact_othernum}} </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"> <font color="white">.</font></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--tab_1_2-->
            <div class="tab-pane" id="historia_clinica">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled profile-nav">
                            <li>
                                {% if instance.featured_image %}
                                <img src="{{instance.featured_image.url}}" class="img-responsive pic-bordered" alt="" />
                                {% else %}
                                {% endif %}
                                <a href="javascript:;" class="profile-edit"> edit </a>
                            </li>
                            <li><a data-toggle="modal" href="#new_comment"> Nueva Cita <span> 
                            <i class="fa fa-plus"></i> </span></a></li>
                            <li><a data-toggle="tab" href="#record_citas"> Ver todas las citas <span style="background-color: #F1C40F;"><i class="fa fa-calendar-check-o"></i> </span></a></li>
                            <li><a href="{% url 'pacientes:edit' id=instance.id %}"> Editar Paciente <span style="background-color: #68e268;"> 
                            <i class="fa fa-pencil"></i> </span></a></li>
                            <li><a data-toggle="modal" href="#delete"> Eliminar Paciente  <span style="background-color: #f95d5d;"> 
                            <i class="fa fa-times"></i> </span></a></li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12 profile-info">
                                <div class="portlet sale-summary">
                                    <div class="portlet-body">
                                        <ul class="list-unstyled">
                                            <li><h3>Historia Clinica</h3></li>
                                            <li>
                                                <span class="sale-info"> Médico</i></span>
                                                <span class="sale-num"> {{instance.doctor}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Fecha registrado</i></span>
                                                <span class="sale-num"> {{instance.timestamp}} </span>
                                            </li>
                                        </ul>
                                        <hr/>
                                        <h4>Antecedentes Personales</h4>
                                        <p>{{instance.antecedentes_personales}}</p>
                                        <hr/>
                                        <h4>Antecedentes Familiares</h4>
                                        <p>{{instance.antecedentes_familiares}}</p>
                                        <hr/>
                                        <h4>Historia Enfermedad Actual</h4>
                                        <p>{{instance.enfermedad_actual}}</p>
                                        <hr/>
                                        <h4>Signos y Sintomas</h4>
                                        <p>{{instance.signos_sintomas}}</p>
                                        <hr/>
                                        <h4>Diagnóstico de Rehabilitación</h4>
                                        <p>{{instance.rehab_diagnosis}}</p>
                                        <hr/>
                                        <h4>Protocolo o Plan de Tratamiento</h4>
                                        <p>{{instance.protocol_treatment}}</p>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="record_citas">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled profile-nav">
                            <li>
                                {% if instance.featured_image %}
                                <img src="{{instance.featured_image.url}}" class="img-responsive pic-bordered" alt="" />
                                {% else %}
                                {% endif %}
                                <a href="javascript:;" class="profile-edit"> edit </a>
                            </li>
                            <li><a data-toggle="modal" href="#new_comment"> Nueva Cita <span> 
                            <i class="fa fa-plus"></i> </span></a></li>
                            <li><a href="{% url 'pacientes:edit' id=instance.id %}"> Editar Paciente <span style="background-color: #68e268;"> 
                            <i class="fa fa-pencil"></i> </span></a></li>
                            <li><a data-toggle="modal" href="#delete"> Eliminar Paciente  <span style="background-color: #f95d5d;"> 
                            <i class="fa fa-times"></i> </span></a></li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12 profile-info">
                                <div class="portlet sale-summary">
                                    <div class="portlet-body">
                                        <ul class="list-unstyled">
                                            <li><h3>Record de Citas</h3></li>
                                            <li>
                                                <span class="sale-info"> Médico</i></span>
                                                <span class="sale-num"> {{instance.doctor}} </span>
                                            </li>
                                            <li>
                                                <span class="sale-info"> Diagnostico</i></span>
                                                <span class="sale-num"> {{instance.rehab_diagnosis}} </span>
                                            </li>
                                        </ul>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="new_comment" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Nuevo Comentario</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="">{% csrf_token %}
                    {{ comment_form }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Registrar" class="btn green"/>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="delete" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Eliminar Propiedad - ID: {{instance.id}}</h4>
            </div>
            <div align="center" class="modal-body">
                <strong>¿Estas seguro que quieres eliminar esta propiedad?</strong></br></br>
                <ul align="left" class="list-inline">
                    <li>- ID: {{instance.id}}</li></br>
                    <li>- Nombre: {{instance.name}}</li></br>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancelar</button>
                <a href="{% url 'pacientes:delete' id=instance.id %}" class="btn red"/>Eliminar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/ui-modals.js' %}" type="text/javascript"></script>
{% endblock %}